.child {
	width: 25px;
	border: 1px;
	text-align: center;
	border-radius: 5px;
}

#game_container {
	margin: 10 auto;
	/*width: 800px;*/
}

#game_starting {
	font-size: 21px;
    margin-left: 453px;
    margin-top: 320px;
}

#game_finished {
	font-size: 21px;
    margin-left: 545px;
    margin-top: 320px;
}

.description {
	padding-bottom: 30px;
	width: 528px;
}

#step_length {
	padding-bottom: -1px;
}

#start {
    font-size: 17px;
    margin-left: 180px;
    margin-top: 20px;
}

#restart {
	font-size: 17px;
	margin-top: 20px;
	margin-left: 124px;
}
#play {
    font-size: 17px;
    margin-left: 1090px;
    margin-top: 334px;
}